body {background-color:#06373E;}

img {display: block;
margin:0 auto;
width: 100%;}

#container {background-color:#92B3BC;}

nav {background-color: #547B88;
padding: 2px 0;
text-align: center;}

nav ul {padding: 0;
list-style-type: none;
border: 2px solid ;}

nav li {display: block;}

nav li a {display: block;
height: 40x;
line-height: 40px;
background-color:#B2D5Cf;
color:#547B88;
text-decoration: none;
font-size: 5mm;
padding: 5px 0;}

nav li a:hover {background-color: #2E5E36;}
